@charset "UTF-8";


        html {
            font-size: 12px;
            font-family: Dotum, '돋움', Helvetica, sans-serif;
        }
        body {
            background-color: #f5f6f7;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 460px;
            margin: 0 auto;
        }
        header {
            /* 부모인 .container 기준 */
            width: 100%;
            padding: 60px 0 20px;
        }
        header > h1 {
            width: 240px;
            height: 44px;
            margin: 0 auto;
            background-image: url(../images/naver.png);
            background-size: cover;
            background-position: center;
        }
        .join_title {
            margin: 19px 0 8px;
            font-size: 14px;
            font-weight: 700;
        }
        label {
            cursor: pointer;
        }
        .ps_box {
            width: 100%;
            height: 51px;
            border: 1px solid #dadada;
            background-color: #ffffff;
            padding: 10px 110px 10px 14px;
            box-sizing: border-box;
            /* 자식요소들의 absolute을 위해서 */
            position: relative;
        }
        .ps_box2 {
            width: 30%;
        }
        .no_padding_ps_box {
            padding-right: 10px; 
        }
        .int {
            width: 100%;
            height: 29px;
            line-height: 29px;
            padding-right: 25px;
            border: none;
            outline: none;
            font-size: 15px;
            box-sizing: border-box;
        }
        .int2 {
            padding-right: 5px;
        }
        .step_url {
            /* absolute : 원래 자리 무시하고 두고 싶은 곳에 두겠다. */
            position: absolute;
            top: 16px;
            right: 13px;
            font-size: 15px;
            color: #8e8e8e;
            line-height: 18px;
        }
        #pwd + span.check_pass::before {
        	content: '안전 ';
        }
        .check_fail {
        	color: red;
        }
        .check_pass {
        	color: #03c75a;
        }
        .yyyymmdd {
            display: flex;
            justify-content: space-between;
        }
        .term_choice {
            font-size: 12px;
            font-weight: 400;
            color: #8e8e8e;
        }
        .int_mobile_area {
            position: relative;
            margin-top: 10px;
            padding: 0 125px 0 0;
        }
        .btn_primary {
            color: #ffffff;
            background-color: #03c75a;
            border: solid 1px rgba(0,0,0,.08);
        }
        .btn_verify {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 115px;
            height: 51px;
            line-height: 51px;
            padding 18px 0 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            box-sizing: border-box;
        }
        .ps_box_disable {
            margin-top: 10px;
            background-color: #f7f7f7;
        }
        .ps_box_disable input {
            background-color: #f7f7f7;
            outline: none;
        }
        .btn_area {
            margin: 30px 0 30px;
        }
        .btn_type {
            width: 100%;
            padding: 15px 0 15px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            box-sizing: border-box;
        }
        footer {
            width: 100%;
            text-align: center;
        }
        footer > .naver-info {
            font-size: 12px;
        }
        footer > .company-info {
            font-size: 9px;
            display: flex;
            justify-content: center;
        }
        footer > .company-info > .small-naver-logo {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 50px;
            height: 12px;
            background-image: url(images/naver.png);
            background-size: cover;
            background-position: center;
        }
	
